<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Alfonse Mucha - About</title>
</head>
<body class="artnoveau about">
    <h1 class="about-text">About Alfonse</h1>
    <div class="about-text">
    <p>Maximum exponent of Art Nouveau, Alfons Mucha was one of those painters and decorative artists who turned Arts & Crafts into one of the Fine Arts. Closely linked to advertising and design, his decorative figures are the paradigm of what became known as Modernism.</p>
    <br>
    <p>Apparently, Mucha was an excellent singer and therefore was able to continue his secondary education, but he would soon discover a new vocation: drawing. Since then he worked as a decorative painter in his native Moravia, especially for theatrical shows, and would end up in the effervescent Vienna of the time.</p>
    <p>Theater, decorative painting, murals, lithographs and portraits... In all of this he stood out from the other artists of the time. But perhaps what he succeeded in the most was in a newly born art: advertising. Magazines and advertisers begged for his services, and legendary actress Sarah Bernhardt offered him an exclusive six-year contract to represent her image.</p>
    <p>The streets were filled with his drawings and the whole world was changing towards that art that was so modern and effective in sight. Another of his successful facets was that of a jeweler. Mucha began by adorning the women on his posters with jewels drawn in great detail, so that suddenly high society began to demand them as if they really existed. His posters, advertisements, and illustrations, and his designs for jewelry, rugs, wallpaper, and theatrical sets came to be known as Art Nouveau. Many of them show young, beautiful and very healthy women, floating among lush flowers.  His art never really went out of style and from all European modernist currents to art deco they drank directly from his style. Evident is his influence on, for example, the hippie posters of the 60s or the massive footprint of the artist in all illustration from 1900 to today.
       <br><br>(CC) Miguel Calvo Santos, 09-27-2016</p>
       <a class="btn btn-info" href="/home" role="button">Home</a>
    </div>
</body>
</html>