<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Alphonse Mucha - Works</title>
</head>
<body class="artnoveau">
    <h1 class="about-text">His Work</h1>
   <p class="about-text">The success of the Bernhardt posters brought Mucha commissions for advertising posters. He designed posters for JOB cigarette papers, Ruinart Champagne, Lefèvre-Utile biscuits, Nestlé baby food, Idéal Chocolate, 
    the Beers of the Meuse, Moët-Chandon champagne, Trappestine brandy, and Waverly and Perfect bicycles.[31] With Champenois, he also created a new kind of product, a decorative panel, a poster without text, purely for decoration. 
    They were published in large print runs for a modest price. The first series was The Seasons, published in 1896, depicting four different women in extremely decorative floral settings representing the seasons of the year.</p>
    <a class="btn btn-info" href="/home" role="button">Home</a>
    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="/11.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Railroad poster advertising travel to Monaco and Monte-Carlo (1897)</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/22.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Poster for JOB cigarette papers (1898)

            </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="33.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Cover design for the magazine La Plume (1898)</p>
            </div>
        </div>
    </div>
</body>
</html>